header{
   z-index: 1000;
}

.square-button {
  height: 120px;;
  width: 100px;
  transition: transform 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.square-button img {
  width: 100%; /* Ensure the image covers the button fully */
  height: 110%; 
  object-fit: cover;
}

.square-button:hover {
  transform: translateY(32px); /* Adjust the translate value as needed */
}

.square-button-selected {
  transform: translateY(32px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  height: 100%;
}

nav li {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.navbar {
  margin-left : 250px;
}