    .navbar {
        margin-left : 250px;
    }

    .circle {
        margin-left: 305px;
        margin-top: 10px;
        
    }

    .circle img{
        width: 17px;
        height: 17px;
    }

    .card-background{
        width: 344px;
        height: 458px;
        align-items: center; 
    }
    .card1{
        margin-top: 250px;
        margin-bottom: 250px;
        justify-content: center; 
    
    }

    .card-outline{
        border-radius: 25px;
        width: 334px;
        height: 448px;
        margin-left: 5px;
        margin-top: 5px;  
    }

    .front-card {
        display: flex; /* Enables flexbox */
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
        width: 100%; /* Takes full width of its parent */
        height: 217px; /* Adjust height as needed */
        top: 70px;
    }

