@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Keyframes for moving up animation */
@keyframes move-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.text-primary {
  color: #000000;
  font-family: "Yesteryear", cursive;

}

.text-secondary {
  font-family: "Libre Bodoni", serif;
  color: #ffffff;

}

.services-section {
  background-color: #3A73CD;
  padding: 4rem 1rem;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


@media (max-width: 768px) {

  .services-section {
    background-color: #3A73CD;
    padding: 4rem 1rem;
    height: auto;
  }

  body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
}