/* src/components/location.css */
.location-section {
  background-color: #3A73CD;
  padding: 4rem 1rem;
  color: #ffffff;
}

.map-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 340px;
}

.hours-container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hours-container h3 {
  margin-bottom: 1rem;
}

.hours-container p {
  margin: 0.5rem 0;
}
